* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#header {
    background-color: #0981b9;
    height: 50px;
    
}
#menu {
    background-color: aqua;
    height: 50px;
    

}

#left {
    background-color: lightgreen;
    height: 450px;
    width: 20%;
    float: left;
    

}
#content {
    background-color: skyblue;
    height: 450px;
    float: right;
    width: 60%;
    

}

#right {
    background-color: lightgreen;
    height: 450px;
    width: 20%;
    float: right;
    

}


#footer {
    background-color: blueviolet;
    height: 50px;
    clear: both;
    
}