<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layouts</title>

    <link rel="stylesheet" href="layouts.css">
</head>
<body>

    <div id="header">

        Header

    </div>

    <div id="menu">

         Menu

    </div>

    <div id="left">

        Left
        
    </div>

    <div id="right">

        Right

    </div>

    <div id="content">

        Content 

    </div>

    <div id="footer">

        Footer
        
    </div>


</body>

</html>