* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;

    background-image: url();
}


.navbar {

    background-color: #fafa55;
    color: #6545ff;
    padding: 0.5em;
    
   
}

.navbar-ul {
    /* background-color: red; */
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style: none;
   
}
.nav-btns {
    
    margin-left: 0.3em;
    padding: 10px;
    border-left: 1.5px solid #6545ff;
    
}

.nav-btns:last-child {
    border-right: none;
}

.nav-btns:active, .nav-btns:hover {
    background-color: #6545ff;
    color: white;

}

.nav-btns:first-child {
    background-color: #6545ff;
    color: white;
}
